.subtituloProduto {
    color: #5b087c;
    text-align: left;
    margin-bottom: 20px;
}

.subtitulo {
    color: #5b087c;
    text-align: left;
    margin-bottom: 20px;
}

.inputPesquisa {
    width: 70%;
}

.containerProduto {
    width: 90%;
    margin: 5%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0.1, 0.1, 0.1, 0.1);
    margin-top: auto;
}

.containerFiltro {
    width: 90%;
    margin: 5%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0.1, 0.1, 0.1, 0.1);
    margin-top: auto;
}

hr {
    margin: 20px;
}

.Btnovo,
.Btnexc {
    background-color: #5b087c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.cabecalho {
    margin-left: 10%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    /* background: #f9f9f9; */
    margin: 5px 0;
    padding: 10px;

}

.table td {
    text-align: center;
    /* Centraliza o conteúdo das células */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.button-edit {
    color: #fca434;
    font-size: 20px;
    /* color: white; */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.btn:hover {
    background-color: #45a049;
}

.form-actions {
    display: flex;
    align-items: center;
    /* Alinha verticalmente os itens */
    gap: 10px;
    /* Espaçamento entre o texto e o checkbox */
    flex-direction: row;
    margin: 10px 0;
}

.form-actions label {
    margin: 0;
    /* Remove margens extras no rótulo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[name="qtdProduto"] {
    width: 100px;
}

.containerLista {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0.1, 0.1, 0.1, 0.1);
}